APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

ALGOLIA_APP_ID=5YO44PIHQ4
ALGOLIA_SECRET=5544bfcc36709f7f9cca6676e4fca254
ALGOLIA_SEARCH=80a9d73a2fd59f61d7df07b7fef37be7
